
@model IEnumerable<ExistingDbMVCWebApplication.Models.Actors>

@{
    ViewBag.Title = "Actors";
}

<h2>Actors</h2>
<p>
    <a asp-controller="Actors" asp-action="Create">Create New</a>
</p>

<table class="table">

    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>AcademyWinner</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>@Html.DisplayFor(modelItem => item.Id)</th>
            <th>@Html.DisplayFor(modelItem => item.Name)</th>
            <th>@Html.DisplayFor(modelItem => item.Age)</th>
            <th>@Html.DisplayFor(modelItem => item.AcademyWinner)</th>
        </tr>
    }

</table>